/* 
  First we define the rules
    - 3 Ways
      1) by tag name
      2) by id 
      3) by class
*/

h1 {
  color: #2b63e2;
  text-align: center;
  background-color: #b6e282;
  text-shadow: 0px 0px 11px #47f5c8;
}

.center-text {
  text-align: center;
}

.container-div {
  width: 400px;
  margin: auto;
}